<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="location.component.scss">
</head>

<body style="background-color:lightblue;">
    
    <div class="nav">
        <h2>Location</h2><br>
        <a href="#">Location details</a>
        <a href="#">Room Layout</a>
        <a href="#">Unavailability</a>
    </div>
    
</body>

</html>