.center {
  text-align: center;
}

.left {
  text-align: left;
  margin: 25px;
  border: 10px;
  padding: 10px;
}
nav{
  width: 100px;
  height: 75px;
  line-height: 75px ;
  padding: 0px 100px;
  position: fixed;
  background-image: linear-gradient(blue,black);
}